<div class="ajuste">
    <table class="table table-striped">
        <thead class="text-center align-middle" colspan="2">
            <th>Tabela Com idade Maior que 30</th>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-bold">Nome: </td>
                <td class="font-weight-bold">Idade: </td>
            </tr>

            <tr *ngFor="let pessoa of lista">
                <td  *ngIf="pessoa.idade > 30">{{pessoa.nome}}</td>
                <td  *ngIf="pessoa.idade > 30">{{pessoa.idade}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped" >
        <thead class="text-center align-middle" colspan="2">
            <th>Tabela Completa</th>
        </thead>
        <tbody>
            <tr >
                <td class="font-weight-bold">Nome: </td>
                <td class="font-weight-bold">Idade: </td>
            </tr>

            <tr *ngFor="let pessoa of lista">
                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.idade}}</td>
            </tr>
        </tbody>

    </table>
</div>