<div class="organizaMenu">
    <table>
      <tr>
        <td><label for="titulo">Digite o Título do Livro</label></td>
      </tr>
      <tr>
        <td><input type="text" [(ngModel)]="Livro.titulo" id="titulo" name="titulo" /></td>
      </tr>
      <tr>
        <td><label for="autor">Digite o Nome do Autor:</label></td>
      </tr>
      <tr>
        <td><input type="text" [(ngModel)]="Livro.autor" id="autor" name="autor" /></td>
      </tr>
    </table>
  
    <button type="button" class="btn btn-primary btn-save" (click)="salvarLivro()">Salvar</button>
  </div>