<p>Escolha Opção</p>

<input routerLink="/admin/pessoas" type="button" value="Lista Pessoas">
<input routerLink="/admin/pessoas/adicionar" type="button" value="  adicionar Pessoa">
<input routerLink="/admin/pessoas/editar/:id" type="button" value="Editar Pessoa">

<input routerLink="/admin/carro" type="button" value="Lista Carros">
<input routerLink="/admin/carro/adicionar" type="button" value="Adicionar Carro">
<input routerLink="/admin/carro/editar/:id" type="button" value="Editar Carro">

<input routerLink="/admin/livro" type="button" value="Lista Livros">
<input routerLink="/admin/livro/adicionar" type="button" value="Adicionar Livro">
<input routerLink="/admin/livro/editar/:id" type="button" value="Editar Livro">



