<div class="container text-center">
    <div class="row">
      <div class="col">
        <h3>Pessoa</h3>
        <input routerLink="/admin/pessoas" type="button" class="btn btn-primary" value="Lista Pessoas">
        <input routerLink="/admin/pessoas/adicionar" type="button" class="btn btn-secondary" value="Adicionar Pessoa">
        <input routerLink="/admin/pessoas/editar/:id" type="button" class="btn btn-info" value="Editar Pessoa">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Carro</h3>
        <input routerLink="/admin/carro" type="button" class="btn btn-primary" value="Lista Carros">
        <input routerLink="/admin/carro/adicionar" type="button" class="btn btn-secondary" value="Adicionar Carro">
        <input routerLink="/admin/carro/editar/:id" type="button" class="btn btn-info" value="Editar Carro">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>Livro</h3>
        <input routerLink="/admin/livro" type="button" class="btn btn-primary" value="Lista Livros">
        <input routerLink="/admin/livro/adicionar" type="button" class="btn btn-secondary" value="Adicionar Livro">
        <input routerLink="/admin/livro/editar/:id" type="button" class="btn btn-info" value="Editar Livro">
      </div>
    </div>
  </div>
  