<div class="ajuste">
    <table class="table table-striped">
        <thead>
            <tr class="text-center align-middle" colspan="2">
                <th>Carro</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-bold">Nome:</td>
                <td class="font-weight-bold">Ano:</td>
            </tr>
            <tr *ngFor="let carro of lista">
                <td>{{carro.nome}}</td>
                <td>{{carro.ano}}</td>
            </tr>
        </tbody>
    </table>
</div>


<button (click)="abrirModal(open)" >Novo Carro</button>

<ng-template #open let-modal>
    <div class="custom-modal">
        <div class="modal-header">
            <h4 class="modal-title">ADICIONAR CARRO</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close click')"></button>
        </div>
        <div class="modal-body">
            <app-adicionarcarro  (retorno)="addNaLista($event)" ></app-adicionarcarro>         
        </div>
       
    </div>
</ng-template>