<div class="ajuste">
    <table class="table table-striped">
        <thead>
            <tr class="text-center align-middle" colspan="2">
                <th>Livros</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-bold">Titulo: </td>
                <td class="font-weight-bold">Autor: </td>
            </tr>

            <tr *ngFor="let livro of lista">
                <td >{{livro.titulo}}</td>
                <td>{{livro.autor}}</td>
            </tr>
        </tbody>
    </table>
</div>


<button (click)="abrirModal(open)" >Novo Livro</button>

<ng-template #open let-modal>
    <div class="custom-modal">
        <div class="modal-header">
            <h4 class="modal-title">ADICIONAR LIVRO</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close click')"></button>
        </div>
        <div class="modal-body">
            <app-adicionarlivro  (retorno)="addNaLista($event)" ></app-adicionarlivro>     
                
        </div>
       
    </div>
</ng-template>