<div class="organizaMenu">
    <table>
      <tr>
        <td><label for="nomeCarro">Digite o nome do Carro:</label></td>
      </tr>
      <tr>
        <td><input type="text" [(ngModel)]="carro.nome" id="nomeCarro" name="nomeCarro" /></td>
      </tr>
      <tr>
        <td><label for="placaCarro">Digite a Placa do Carro:</label></td>
      </tr>
      <tr>
        <td><input type="text" [(ngModel)]="carro.ano" id="placaCarro" name="placaCarro" /></td>
      </tr>
    </table>
  
    <button type="button" class="btn btn-primary btn-save" (click)="salvarCarro()">
      {{ isEditing ? 'Editar' : 'Adicionar' }}
    </button>  </div>
  