<div class="container mt-4">
    <h2>Adicionar Livro</h2>
    <div class="mb-3">
      <label for="nome" class="form-label">Titulo do Livro:</label>
      <input type="text" class="form-control" id="nome" placeholder="Inserir Autor">
    </div>
    <div class="mb-3">
      <label for="ano" class="form-label">Autor do Livro:</label>
      <input type="text" class="form-control" id="titulo" placeholder="Inserir Titulo">
    </div>
    <button type="button" class="btn btn-primary">Adicionar</button>
  </div>