.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin-top: 15vh;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
}

.organizaMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    margin-top: 1vw;
}