<div class="ajuste">
    <button class="btn btn-lg btn-outline-primary" (click)="abrirModal(open)" >Adicionar pessoa</button>
    <table class="table table-dark">
        <thead >
            <tr class="text-center align-middle">
                <th colspan="4">Tabela Com idade Maior que 30</th>
            </tr>
             
        </thead>
        <tbody>
            <tr>
                <td class="font-weight-bold">Id: </td>
                <td class="font-weight-bold">Nome: </td>
                <td class="font-weight-bold">Idade: </td>
                <td class="font-weight-bold">Editar: </td>
            </tr>

            <tr *ngFor="let pessoa of lista;let i = index">
                <th scope="row">{{ pessoa.id }}</th>
                <td >{{pessoa.nome}}</td>
                <td >{{pessoa.idade}}</td>
                <td> <button class="btn btn-primary" (click)="editar(open,pessoa, i)">Editar</button> </td>
                <button class="btn btn-danger" (click)="delete(pessoa.id)">Delete</button>

                <!--  <td><button class="btn btn-lg btn-outline-primary" (click)="abrirModal(open)" >Adicionar pessoa</button></td>-->

            </tr>
        </tbody>
    </table>
<!--
    <table class="table table-dark" >
        <thead >
            <tr class="text-center align-middle">
                <th colspan="2">Tabela de Pessoas Completa</th>
            </tr>
             
        </thead>
        <tbody>
            <tr >
                <td class="font-weight-bold">Nome: </td>
                <td class="font-weight-bold">Idade: </td>
            </tr>

            <tr *ngFor="let pessoa of lista">
                <td>{{pessoa.nome}}</td>
                <td>{{pessoa.idade}}</td>
            </tr>
        </tbody>

    </table>

    <button class="btn btn-lg btn-outline-primary" (click)="abrirModal(open)" >Adicionar pessoa</button>
-->
</div>



<ng-template #open let-modal>
    <div class="custom-modal">
        <div class="modal-header">
            <h4 class="modal-title">{{ isEditing ? 'EDITAR PESSOA' : 'ADICIONAR PESSOA' }}</h4>            
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.close('Close click')"></button>
        </div>
        <div class="modal-body">
            <app-adicionar (retorno)="listAll()" [isEditing]="isEditing"></app-adicionar>
                
        </div>
       
    </div>
</ng-template>